@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.background-animate {
    background-size: 500%;
    -webkit-animation: text-bg 3s ease-in-out infinite;
    -moz-animation: text-bg 3s ease-in-out infinite;
    animation: text-bg 3s ease-in-out infinite;
  }
  
  @keyframes text-bg {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }